.article-result {
    &__journalinfo {
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: .7rem;
        margin-bottom: 1rem;
        &-link {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: .5rem;
        }
        &-descrption {
            color: #777;
            font-size: 15px;
        }
    }
    &__article {
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: .7rem;
        margin-bottom: 1rem;
        &-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: .5rem;
        }
        &-autors {
            font-size: 15px;
            &-name {
                color: map_get($color-palette, 'Endeavour');
                font-weight: 600;
                &:hover {
                    color: map_get($color-palette, 'scooter');
                }
            }
        }
    }
    &__features {
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: .7rem;
        margin-bottom: 1rem;
        &-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: .5rem;
        }
        &-info {
            &-link {
                color: #222;
                font-weight: 600;
                &:hover {
                    color: map_get($color-palette, 'Endeavour');
                }
            }
        }
    }
    &__abstract {
        padding-bottom: .7rem;
        margin-bottom: 1rem;
        &-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: .5rem;
        }
        &-text {
            color: #737373;
            font-size: 16px;
            line-height: 2;
        }
    }
}