.footer {
   background: -webkit-linear-gradient(top, #dfe5e6, #fff 60px);
   background: linear-gradient(180deg, #dfe5e6, #fff 60px);
   border-top: 30px solid #bdbdbd;
   box-shadow: inset 0 2px 0 0 $white;
   padding: 20px 30px 30px;
   margin-top: 40px;

   &__header {
      color: #2b59a6;
      font-family: Rezvan, sans-serif;
      font-size: 20px;
      font-weight: 500;
      margin: rem-calc(15 0);
   }

   &__body {
      text-align: justify;
      margin: 10px 0;
      font-size: 14px;
      font-weight: 700;
   }

   &__table {
      text-align: right;
      th, td {
         text-align: right;
         padding: 0;
      }
   }

   &__link {
      $color: map-get($color-palette, 'scooter');
      color: $color;
      font-weight: 600;

      &:hover, &:focus {
         outline: none;
         color: darken($color, 10);
      }
   }
}
