.p-stat-table {
   @include breakpoint(medium) {
      line-height: 1.1em;
      border-collapse: collapse;
      border: none;

      tbody {
         border: none;
         tr {
            border: 0 !important;
            background: $white !important;
         }
      }

      tr + tr {
         td, th {
            border: none;
            border-top: 1px solid $black;
         }
      }

      th, td {
         padding: rem-calc(5 10);

         &:first-child {
            text-align: if($global-text-direction == 'ltr', right, left);;
            font-weight: 400;
            @if $global-text-direction == 'ltr' {
               padding-left: rem-calc(15);
            } @else {
               padding-right: rem-calc(15);
            }
         }

         &:last-child {
            color: map-get($color-palette, 'steel-blue');
            padding-left: rem-calc(15);
            font-weight: 600;
         }
      }
   }
   &__image {
      display: none;
      @include breakpoint(770) {
         display: block;
         width: 110px;
         float: if($global-text-direction == 'ltr', right, left);
         margin: 12px 0;
      }
   }

}