.page-title {
    background: map_get($color-palette, 'iceberg');
    padding: 1.42857rem 1.07143rem 0.62857rem;
    border-radius: $global-section-border;
    margin-bottom: $global-section-margin;
    &__menu {
        &-link {        
            color: #111;
            font-size: 15px;
            font-weight: 500;
            margin-top: .3rem;
                &:hover {
                    color: map_get($color-palette, 'Endeavour');
                }
        }
    }
}