.quick-search {
   background: map_get($color-palette, 'iceberg');
   padding: rem-calc(15px);
   border-radius: 3px;
   &:after {
      content: '';
      display: block;
      clear: both;
   }
   @include breakpoint(large) {
      @include flex-grid-row(
         $wrap: false,
         $gutters: 0
      );
   }

   &__column {
      @include breakpoint(large) {
         margin: 0;
         @include flex-grid-column(expand, 15);
         min-height: rem-calc(50px);
         line-height: rem-calc(50px);
      }
   }

   &__title {
      font-size: 14px;
      @include breakpoint(large) {
         font-size: 22px;
         @include flex-grid-size(3);
      }
   }

   &__input {
      border-color: $white;
      box-shadow: none;
      font-size: 14px;
      @include breakpoint(large) {
         border-radius: 0 9px 9px 0;
      }
   }

   &__select {
      font-size: 14px;
      font-weight: 600;
      border-color: $white;
      cursor: pointer;
      @include breakpoint(large) {
         @include flex-grid-size(10%)
      }

      &_color-scooter {
         $scooter: map-get($color-palette, 'scooter');
         background: $scooter;
         color: $white;
         border-color: $scooter;

         &:focus {
            border-color: $scooter;
            background: lighten($scooter, 10);
            box-shadow: none;
         }
      }
   }

   &__button {
      font-family: Vazir, sans-serif;
      cursor: pointer;
      background: $white;
      border-right: 2px solid $white;
      display: inline-block;
      text-align: center;
      font-weight: 600;
      padding: rem-calc(10 15px);
      min-width: 80px;
      height: 40px;
      float: left;
      @include breakpoint(large) {
         @include flex-grid-size(7%);
         padding: rem-calc(0 15px);
      }

      &:focus {
         outline: none;
      }

      &_color-cold-purple {
         color: $white;
         background-color: map-get($color-palette, 'cold-purple');
      }

      &_color-primary {
         color: $white;
         background-color: $primary-color;
      }

      &_border-left-radius {
         @include breakpoint(large) {
            border-radius: 10px 0 0 10px;
         }
      }
   }

   &__button-icon {
      width: 30px;
      max-height: 100%;
   }
}
