.quick-search {
   background: map_get($color-palette, 'iceberg');
   padding: rem-calc(15px);
   border-radius: 3px;
   @include breakpoint(885) {
      @include flex-grid-row(
         $wrap: false,
         $gutters: 0
      );
   }

   &__column {
      @include breakpoint(885) {
         margin: 0;
         @include flex-grid-column(expand, 15);
         min-height: rem-calc(50px);
         line-height: rem-calc(50px);
      }
   }

   &__title {
      font-size: 14px;
      @include breakpoint(885) {
         font-size: 22px;
         @include flex-grid-size(3);
      }
   }

   &__input {
      border-color: $white;
      box-shadow: none;
      font-size: 14px;
      border-radius: 0 9px 9px 0;
   }

   &__select {
      font-size: 14px;
      font-weight: 600;
      border-color: $white;
      cursor: pointer;
      @include breakpoint(885) {
         @include flex-grid-size(10%)
      }

      &_color-scooter {
         $scooter: map-get($color-palette, 'scooter');
         background: $scooter;
         color: $white;
         border-color: $scooter;

         &:focus {
            color: $black;
         }
      }
   }

   &__button {
      font-family: Vazir, sans-serif;
      cursor: pointer;
      background: $white;
      border-right: 2px solid $white;
      display: inline-block;
      padding: rem-calc(0 10px);
      text-align: center;
      font-weight: 600;
      @include breakpoint(885) {
         @include flex-grid-size(5%)
      }

      &:focus {
         outline: none;
      }

      &_color-cold-purple {
         color: $white;
         background-color: map-get($color-palette, 'cold-purple');
      }

      &_color-primary {
         color: $white;
         background-color: $primary-color;
      }

      &_border-left-radius {
         border-radius: 10px 0 0 10px;
      }
   }
}
