.quick-search {
   background: map_get($color-palette, 'iceberg');
   padding: rem-calc(15);
   border-radius: $global-section-border;
   &:after {
      content: '';
      display: block;
      clear: both;
   }
   @include breakpoint(large) {
      @include flex-grid-row(
         $wrap: false,
         $gutters: 0
      );
   }

   &__column {
      @include breakpoint(large) {
         margin: 0;
         @include flex-grid-column(expand, 15);
         min-height: rem-calc(50px);
         line-height: rem-calc(50px);
      }
   }

   &__title {
      text-align: center;
      @include breakpoint(large) {
         text-align: right;
         @include flex-grid-size(3);
      }
   }

   &__input {
      border-color: $white;
      box-shadow: none;
      font-size: 14px;
      @include breakpoint(large) {
         border-radius: rem-calc(0 9px 9px 0);
      }
   }

   &__select {
      font-size: 14px;
      font-weight: 600;
      border-color: $white;
      cursor: pointer;
      line-height: 1em;
      padding-left: 30px;
      background-image: url(/dist/image/down-arrow.svg);
      @include breakpoint(large) {
         @include flex-grid-size(10%)
      }

      &_color-scooter {
         $scooter: map-get($color-palette, 'scooter');
         background-color: $scooter;
         color: $white;
         border-color: $scooter;

         &:focus {
            border-color: $scooter;
            background-color: lighten($scooter, 10);
            box-shadow: none;
         }
      }
   }

   &__button {
      font-family: Vazir, sans-serif;
      cursor: pointer;
      background: $white;
      border-right: rem-calc(2px) solid $white;
      display: inline-block;
      text-align: center;
      font-weight: 600;
      padding: rem-calc(10 15px);
      min-width: rem-calc(80px);
      height: rem-calc(40px);
      line-height: rem-calc(40px);
      float: left;
      padding: rem-calc(0);
      @include breakpoint(large) {
         line-height: rem-calc(50px);
         @include flex-grid-size(7%);
         padding: rem-calc(0 15px);
      }

      &:focus {
         outline: none;
         background-color: darken($white, 10);
      }

      &_color-cold-purple {
         $color: map-get($color-palette, 'cold-purple');
         color: $white;
         background-color: $color;
         &:focus {
            background-color: lighten($color, 10);
         }
      }

      &_color-primary {
         color: $white;
         background-color: $primary-color;
         &:focus {
            background-color: lighten($primary-color, 10);
         }
      }

      &_border-left-radius {
         @include breakpoint(large) {
            border-radius: rem-calc(10px 0 0 10px);
         }
      }
   }

   &__button-icon {
      width: 30px;
      max-height: 100%;
   }
}
