@import '~foundation-sites/scss/util/unit';
$color-palette: (
   steel-blue: #4b83bc,
   scooter: #35c5cb,
   iceberg: #e0f4f4,
   cold-purple: #9fabd9,
   jagged-ice: #b9e6e6,
   geyser: #dbe3e6,
   Tarawera: #0c3d5d,
   Endeavour: #004f9f,
   Denim: #1779ba
);

$body-font-family: 'IRANSans', Vazir, tahoma, sans-serif;
$global-font-size: 14px;
$header-styles: (
   small: (
      'h1': ('font-size': 22),
      'h2': ('font-size': 18),
      'h3': ('font-size': 16),
      'h4': ('font-size': 15),
      'h5': ('font-size': 14),
      'h6': ('font-size': 13),
   ),
   medium: (
      'h1': ('font-size': 24),
      'h2': ('font-size': 20),
      'h3': ('font-size': 19),
      'h4': ('font-size': 18),
      'h5': ('font-size': 17),
      'h6': ('font-size': 16),
   ),
);
$global-section-border: 4px;
$global-section-padding: rem-calc(20 15 0);
$global-section-margin: 10px;
$global-image-margin: auto;
$global-nopadding-right: 0;
$global-nopadding-left: 0;