$color-palette: (
   steel-blue: #4b83bc,
   scooter: #35c5cb,
   iceberg: #e0f4f4,
   cold-purple: #9fabd9,
   jagged-ice: #b9e6e6,
   geyser: #dbe3e6
);

$body-font-family: Vazir, tahoma, sans-serif;
$global-font-size: 14px;