@import "settings/settings";
@import "~foundation-sites/assets/foundation-rtl.scss";
@import "components/p-stat";
@import "components/header";
@import "components/quick-search";
@import "components/footer";
@import "components/search-advance";
@import "components/search-detail";
@import "components/reveal";
@import "components/search-result";